/* Một số tuỳ chỉnh chung cho form đăng ký */
*{
    font-family: "Times New Roman", Times, serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    width: 500px;
    padding: 60px 40px;
}

.reg-form {
    border: 2px solid rgb(5 84 149);
}
.reg-form-2{
    border: 2px solid rgb(5 84 149);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     /* Để đảm bảo form nằm giữa trang */
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.success-message {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Định dạng cho liên kết trở về trang chủ */
.back-to-home {
    font-size: 18px;
}
.form-group input,
.form-group select {
    padding: 10px;
    box-sizing: border-box;
    line-height: 1;
}
.form-group-2 {
    display: flex;
    margin-bottom: 10px;
}

.form-group-2 input,
.form-group-2 select {
    padding: 10px;
    box-sizing: border-box;
    line-height: 1;
}

/*Tuỳ chỉnh thuộc tính cho các "Box" */
.full-name-box,
.address-box,
.image-box {
    background-color: #70AD47;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 0px;
    width: 100px;
    height: 15px;
    padding-top: 9px;
    padding-bottom: 11px;
    text-align: center;
    display: inline-block;
    border: 2px solid #41719C;
}

/* Vấn đề Thông tin bắt buộc & Thông báo lỗi */
.error-messages {
    color: red;
    font-size: 16px;
    margin: 5px 0px 20px 20px;
    display: flex;
}
.add-button{
    position: absolute;
    text-align: center;
    bottom: 200px;
}
.add-button button{
    background-color: #70AD47;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    cursor: pointer ;
    border: 2px solid #41719C;
}

/* Tuỳ chỉnh cho input với các "box" tương ứng */
.full-name-input
{
    border: 2px solid #41719C;
    flex: 1;

}
.address-input{
    border-radius: 0px;
    width: 352.32px;
    height: 125px;
    resize: vertical;
    padding: 10px;
    margin-top: 5px;
    display: block;

    border: 2px solid #41719C;
}

.gender-select {
    width: 170px;
}

.department-select {
    border: 2px solid rgb(5 84 149);
    padding: 10px 0;
}

.birth-input {
    border: 2px solid rgb(5 84 149);
    width: 170px;
}

.image-select {
    flex: 1;
    color: white;
}

/* Tuỳ chỉnh cho Nút Đăng Ký */
.signup-button {
    text-align: center;
    margin-top: 20px;
}

.signup-button button {
    padding: 10px 35px;
    background-color: #70AD47;
    color: white;
    cursor: pointer;
    border: 2px solid #41719C;
    border-radius: 10px;
}


/* Bên confirm cho phần hiển thị kết quả form hợp lệ */
.show-name,
.show-gender,
.show-department,
.show-birthdate,
.show-address   {
    flex: 1;
    padding: 10px 20px;
}

.show-image {
    padding: 0px 20px;
    width: 50%;
}

/* Tuỳ chỉnh cho Nút Xác nhận */
.submit-button {
    text-align: center;
    margin-top: 20px;

}

.submit-button button {
    background-color: #70AD47;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 8px;
    cursor: pointer ;
    border: 2px solid #41719C;
}





